server:
  port: 8081

spring:
  application:
    name: analysis-service
  datasource:
    url: jdbc:postgresql://localhost:5432/analysis_db
    username: postgres
    password: 565758DrD
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs              # Важно! Именно этот путь
  swagger-ui:
    enabled: false

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8761/eureka}